extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 안녕하세요!
    p
        yc-style-modal(text="Web Components is a set of standards.") Web Component
        | are Awesome
    yc-style-modal(text="Web Components is a set of standards.")
    a(is="yc-style-confirm-link" href="https://www.google.com") 구글