extends ../layout/layout.pug

block content
    .inform_wrapper.christmas
        .head_title 
            h1 Merry Christmas
            p 오늘 다윗의 동네에서 너희에게 구주가 나셨으니, 그는 곧 그리스도 주님이시다.
            p 누가복음 2장 11절