extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 안녕하세요!
        img(src="https://yangchung.s3.ap-northeast-2.amazonaws.com/assets/phil-hearing-42LLGP-QPj4-unsplash.jpg", alt="", srcset="")