extends ../layout/layout.pug

block content 
    .inform_wrapper
        h1 회원가입
    .form_container
        if errorMessage
            h1=errorMessage
        form
            input(type="text", name="email" ,required, placeholder="이메일을 입력하세요.")
            input(type="text", name="userName" ,required, placeholder="닉네임을 입력해주세요.", maxlength=10)
            input(type="text", name="name" ,required, placeholder="실명을 입력해주세요.", maxlength=5)
            input(type="password", autocomplete="new-password", name="password" ,required, placeholder="비밀번호를 입력해주세요.", maxlength=20)
            input(type="password", autocomplete="new-password", name="password2" ,required, placeholder="비밀번호를 한번 더 입력해주세요.", maxlength=20)
            button(type='button') 회원가입
    script(src="/static/js/join.js") 