extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 2021년 정기총회 투표
    .vote_container
        form
            input(type='text', name='voteName', placeholder="투표 제목을 입력해주세요.")
            button(type='button') 입력
    .vote_list_container
    
    script(src="/static/js/vote.js") 
        
        

            

    
