extends ../layout/layout.pug

block content 
    .contents_wrapper
        .contents_header_wrapper 
            .inform_wrapper
                h1.head_title 주보 수정
                if loggedIn && (user.authority === "master" || user.authority === "leader")
                    div.button_wrapper
                        a(href=`/worship/${id}/delete`).delete_btn
                            span.material-icons-outlined delete
                        button(type="button").send_btn
                            span.material-icons-outlined send
    .form_container.worship_form
        form(method="POST").form
            label(for="title") 제목
            input(type="text", name="title", required, id="title", placeholder="제목")
            select(type="text", name="word", required, id="word")       
                option(value="gen") 창세기
                option(value="exo") 출애굽기
                option(value="lev") 레위기
                option(value="num") 민수기
                option(value="deu") 신명기
                option(value="jos") 여호수아기
                option(value="jdg") 사사기
                option(value="rut") 룻기
                option(value="1sa") 사무엘기상
                option(value="2sa") 사무엘기하
                option(value="1ki") 열왕기상
                option(value="2ki") 열왕기하
                option(value="1ch") 역대상
                option(value="2ch") 역대하
                option(value="ezr") 에스라기
                option(value="neh") 느헤미야기
                option(value="est") 에스더기
                option(value="job") 욥기
                option(value="psa") 시편
                option(value="pro") 잠언
                option(value="ecc") 전도서
                option(value="sng") 아가
                option(value="isa") 이사야서
                option(value="jer") 예레미야서
                option(value="lam") 예레미야애가
                option(value="ezk") 에스겔서
                option(value="dan") 다니엘서
                option(value="hos") 호세아서
                option(value="jol") 요엘서
                option(value="amo") 아모스서
                option(value="oba") 오바댜서
                option(value="jnh") 요나서
                option(value="mic") 미가서
                option(value="nam") 나훔서
                option(value="hab") 하박국서
                option(value="zep") 스바냐서
                option(value="hag") 학개서
                option(value="zec") 스가랴서
                option(value="mal") 말라기서
                option(value="mat") 마태복음서
                option(value="mrk") 마가복음서
                option(value="luk") 누가복음서
                option(value="jhn") 요한복음서
                option(value="act") 사도행전
                option(value="rom") 로마서
                option(value="1co") 고린도전서
                option(value="2co") 고린도후서
                option(value="gal") 갈라디아서
                option(value="eph") 에베소서
                option(value="php") 빌립보서
                option(value="col") 골로새서
                option(value="1th") 데살로니가전서
                option(value="2th") 데살로니가후서
                option(value="1ti") 디모데전서
                option(value="2ti") 디모데후서
                option(value="tit") 디도서
                option(value="phm") 빌레몬서
                option(value="heb") 히브리서
                option(value="jas") 야고보서
                option(value="1pe") 베드로전서
                option(value="2pe") 베드로후서
                option(value="1jn") 요한1서
                option(value="2jn") 요한2서
                option(value="3jn") 요한3서
                option(value="jud") 유다서
                option(value="rev") 요한계시록
            div.input_side_by_side
                label(for="chapter") 장
                input(type="number", id="chapter", name="chapter", placeholder="몇 장인지 입력하세요.", required)
                label(for="verse") 시작 절
                input(type="number", id="verse", name="verse", placeholder="시작 절을 입력하세요.", required)
                label(for="verse_end") 끝 절
                input(type="number", id="verse_end", name="verse_end", placeholder="끝 절을 입력하세요.", required)
            label(for="pastor") 강론
            input(type="text", name="pastor", required, id="pastor", placeholder="강론")
            label(for="worshipTeam") 경배와 찬양 
            input(type="text", name="worshipTeam", required, id="worshipTeam", placeholder="경배와 찬양")
            label(for="prayer") 대표기도
            input(type="text", name="prayer", required, id="prayer", placeholder="대표기도")
            label(for="advertisement") 광고
            input(type="text", name="advertisement", required, id="advertisement", placeholder="광고")
            label(for="reader") 성경봉독
            input(type="text", name="reader", required, id="reader", placeholder="성경봉독")
            label(for="offering") 헌금
            input(type="text", name="offering", id="offering", placeholder="헌금")
            label(for="benediction") 축도
            input(type="text", name="benediction", required, id="benediction", placeholder="축도")