extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 투표 용지 만들기
    form.form(method="POST")
        textarea(placeholder="제목을 입력하세요", name="title")
        textarea(placeholder="무엇에 대한 투표인지 쓰세요", name="explain")
        input(type="button", value="선택지 추가하기").vote_selector_add_btn
    button.submitBtn 투표 용지 제작하기
    script(src="/static/js/vote.js") 
        
        

            

    
