// color
$basic_color: #2eaee5;
$link_color: blue;
$line_color: #d0d0d0;
$warn_color: #ff3700;
$sucess_color: #37ff00;
$gray_background_color: #f0f0f0;

// font
$basic_font_size: 1rem;
$title_font_size: 2rem;
$title_font_size_h2: 1.6rem;
$middle_font_size_1_6rem: 1.6rem;
$font_size_1_4rem: 1.4rem;
$info_font_size: 0.9rem;
$meterial_icon_size_mobile: 2.5rem;

$title_font_size_desktop_h1: 2rem;
$title_font_size_desktop_h2: 1.7rem;
$title_font_size_desktop_h3: 1.5rem;
$title_font_size_desktop_h4: 1.3rem;
$title_font_size_desktop_h5: 1.2rem;

$info_font_size_desktop: 1.2rem;

// media size
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
