extends ../layout/layout.pug

block content 
    .inform_wrapper
        h1.head_title 공지사항 수정
        if loggedIn && (user.authority === 'master' || user.authority === 'administrator')
            div.button_wrapper
                button(type="button").send_btn
                    span.material-icons-outlined send
    .form_container.editor_container
        form
            input(type="text" name="title" class="title" placeholder="제목을 입력하세요.")
            div
                input(type='checkbox' id="isWeekly" name="isWeekly")
                label(for='isWeekly') 주보에 광고 넣기
    div#editor.update
    
        