extends ../layout/layout.pug

block content 
    .inform_wrapper
        h1.head_title 공지사항 수정
        if loggedIn && (user.authority === 'master' || user.authority === 'administrator')
            div.button_wrapper
                button(type="button").update-button.update-noticedata-button
                    span.material-icons-outlined send
                a(href=`/notice/delete/${data.id}`).delete-button.delete-notice-button
                            span.material-icons-outlined delete
    .form_container.notice-editor-update-container
        form
            input(type="text" name="title" class="title" placeholder="제목을 입력하세요." value=data.title)
            div
                input(type='checkbox' id="isWeekly" name="isWeekly")
                label(for='isWeekly') 주보에 광고 넣기
    div#editor
    
        