extends ../layout/layout.pug
include ../mixins/qtList.pug

block content
    .inform_wrapper
        h1.head_title 묵상 에세이
        div.button_wrapper
            a(href="/qt/write").write_button 
                span.material-icons-outlined add_circle

    .list_wrapper
        ul.list_item
            each item in data 
                +qtBlock({
                    id:item.id,
                    title:item.title,
                    year:item.year,
                    month:item.month,
                    date:item.date
                })