extends ../layout/layout.pug
include ../mixins/accountingList.pug

block content
    .inform_wrapper
        h1 양청 회계
    .accounting_all_wrapper
        .accounting_form_wrapper 
            form.accounting_form
                .form_item_container
                    label(for="item") 항목
                        select(type="text" id="item" name="item")
                            option(value="income") 수입
                            option(value="expenses") 지출
                            option(value="carriedForward") 이월
                .form_item_container                            
                    label(for="itemDetail") 보조 항목
                        select(type="text" id="itemDetail" name="itemDetail")
                            option(value="administration") 행정
                            option(value="event") 행사
                            option(value="education") 교육
                            option(value="society") 교제
                            option(value="mission") 선교
                            option(value="carriedForward") 이월
                .form_item_container
                    label(for="title") 제목
                        input(type="text" id="title" name="title")
                .form_item_container
                    label(for="detail") 산출 내역
                        input(type="text" id="detail" name="detail")
                .form_item_container
                    label(for="value") 금액
                        input(type="number" id="value" name="value")
        #grid_wrapper 
            .grid_table 
                .grid_header_wrapper
                    table
                        colgroup   
                            col(style="width:10%")
                            col(style="width:10%")
                            col(style="width:10%")
                            col(style="width:10%")
                            col(style="width:30%")
                            col(style="width:10%")
                            col(style="width:10%")
                            col(style="width:10%")
                        thead
                            tr
                                th 날짜
                                th 항목
                                th 세부항목
                                th 제목
                                th 산출내역
                                th 금액
                                th 잔액
                                th 아이디
                        tbody.grid_body_wrapper
                            each accountData in data 
                                +accountingBlock({
                                    id:`${accountData.id.slice(0, 6)}...`,
                                    month:accountData.date.month, 
                                    date:accountData.date.date,
                                    item:itemName[accountData.item],
                                    itemDetail:itemName[accountData.itemDetail],
                                    title:accountData.title,
                                    detail:accountData.detail,
                                    value:accountData.value,
                                })
                            


