extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 블로깅
        div.button_wrapper
            button(type="button").send_btn.send-blog-data-button
                span.material-icons-outlined send
    .form_container.blog-editor-container
        form
            input(type="text" name="title" class="title" placeholder="제목을 입력하세요.")
    div#blog_editor
    

            

    
