extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 블로깅
        div.button_wrapper
            button(type="button").send_btn
                span.material-icons-outlined send
    .form_container.editor_container
        form
            input(type="text" name="title" class="title" placeholder="제목을 입력하세요.")
    div#editor
    

            

    
