extends ../layout/layout.pug

block content
    .inform_wrapper
        h1.head_title 블로그 편집
        div.button_wrapper
            button(type="button").send_btn.update-blog-button
                span.material-icons-outlined send
            button(type="button").delete_button.delete-blog-button
                            span.material-icons-outlined delete
    .form_container.update-blog-editor-container
        form
            input(type="text" name="title" class="title" placeholder="제목을 입력하세요." value=data.title)
    div#blog_editor
    

    
    