footer
   div
      div ⓒ#{new Date().getFullYear()} 양청
      div 주소 : 전라북도 전주시 덕진구 천마산로 40, 양정교회
      div 
         a(href="tel:063-251-1903") 전화 : 063)251-1903
      div 
         a(href="mailto:yjletterteam@gmail.com") 메일 : yjletterteam@gmail.com