header#header
    div.basic_header
        div#logo 
            a(href="/")
                svg(id="레이어_1" viewBox="0 0 220 200").logo_basic.active
                    defs
                    path(class="cls-1" d="M141.81,26A81.9,81.9,0,1,0,71.1,164.78L60.29,175.59,84,199.27l53.12-53.12c1.61-1.38,3.2-2.81,4.72-4.34A81.88,81.88,0,0,0,141.81,26Z")
        div#menu_button(tabindex="0")
            span.material-icons-outlined menu
        .menu_block
            .close_button(tabindex="0") 
                span.material-icons-outlined close
            ul 
                li
                    a(href="/notice") 공지사항
                li 
                    a(href="/worship") 예배
                li
                    a(href="/blog") 블로그
                li 
                    a(href="/documents") 도큐멘트 
                li.search 
                    a 검색
                if !loggedIn 
                    li 
                        a(href="/login") 로그인
                else 
                    li.userProfile_button 
                        a(href=`/user/${user._id}`) 내 정보
                    li 
                        a(href="/logout") 로그아웃
    div#fixed_header
        div#logo_breath 
            a(href="/")
                img(src="/favicon/breath_onlyLogo.png", alt="숨 2022 청년부 주제 BI").logo_2022
        div#menu_button_hide_menu(tabindex="0")
            span.material-icons-outlined menu
