extends ../layout/layout.pug

block content 
    .inform_wrapper
        h1 비밀번호 변경하기
        if errorMessage
            h1=errorMessage
    form(method="POST")
        input(type="password", name="oldPassword", required, placeholder="기존 비밀번호를 입력하세요.")
        input(type="password", name="newPassword", required, placeholder="새로운 비밀번호를 입력하세요.")
        input(type="password", name="newPassword2", required, placeholder="새로운 비밀번호를 한번 더 입력하세요.")
        button 비밀번호 변경하기