extends ../layout/layout.pug

block content 
    .inform_wrapper
        h1.head_title #{pageName} 수정
        div.button_wrapper
            button(type="button").send_btn.update-documents-button
                span.material-icons-outlined send
            button(type="button").delete-button.delete-documents-button
                span.material-icons-outlined delete
    .form_container.update-documents-editor-container
        form
            input(type="text" name="title" class="title" placeholder="제목을 입력하세요." value=data.title)
    div#documents-editor
    
        